
@{
    ViewBag.Title = "Index";
}
<div class="page-content clearfix">
    <div id="Member_Ratings">
        <div class="d_Confirm_Order_style">
            @*搜索框*@
            <div class="search_style">
                <div class="title_names">搜索查询</div>
                <ul class="search_content clearfix">
                    <li><label class="l_f">关键字</label><input name="" type="text" class="text_add" placeholder="输入关键字" id="txtName" runat="server" style=" width:200px" /></li>
                    <li><label class="l_f">开始时间</label><input class="inline laydate-icon" id="start" runat="server" style="margin-left: 10px;" /></li>
                    <li><label class="l_f">结束时间</label><input class="inline laydate-icon" id="end" runat="server" style="margin-left: 10px;" /></li>
                    <li style="width:90px;">
                        <div class="btn_search" id="btn_searchP" style="cursor: pointer;" onclick="SClick()">搜索</div>
                    </li>
                </ul>
            </div>
            @*操作框*@
            <div class="border clearfix">
                <span class="l_f">
                    
                    <a href="javascript:;" onclick="member_del(this,'0')" class="btn btn-danger"><i class="icon-trash"></i>批量删除</a>
                </span>
                <span class="r_f">共：<b></b>条</span>
            </div>
            @*数据框*@
            <div>
            </div>
            <table id="List"></table>
        </div>
    </div>
</div>